@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

.social-link{
    border: 1px solid var(--white-color);
    padding: 5px;
    border-radius: var(--border-radius-circle);
    transition: 0.s ease;
}

:root{
    /* Colors */
    --white-color:#E6EDF3;
    --dark-color:#0D1117;
    --primary-color:#3b141c;
    --secondary-color:#f3961c;
    --light-pink-color:#faf4f5;
    --medium-gray-color:#ccc;

/* Font-size */
    --font-size-s:0.7rem;
    --font-size-n:1rem;
    --font-size-m:1.12rem;
    --font-size-l:1.5rem;
    --font-size-xl:2rem;
    --font-size-xxl:2.3rem;

    /* Font weight */
    --font-weight-normal:400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold:700;

    /* Border-radius */
    --border-radius-s:8px;
    --border-radius-m:30px;
    --border-radius-circle:50%;

    /* Site max width */
    --size-max-width:1300px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}

img{
    width:100%;
}


.section-nav{
    margin:0 auto;
    padding: 0 20px;
    max-width: var(--size-max-width);
}

/* Navbar Style */
header{
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: var(--primary-color);
}

.logo-port{
    max-width: 35px;
    height: auto;
}
.navbar{
    display: flex;
    padding:20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: first baseline;
}

.navbar .nav-logo .logo-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--white-color);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
}

.navbar .nav-menu{
    display: flex;
    gap:5px;
}

.nav-menu li a .active{
    color:var(--primary-color);
    background-color: var(--secondary-color);
}

.nav-menu li a:hover,
.nav-menu li a.active{
    color:var(--primary-color);
    background-color: var(--secondary-color);
}

.navbar li a{
    padding:14px 18px;
    color: var(--white-color);
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
    transition: 0.3s ease;
}

.navbar li a:hover{
    color:var(--primary-color);
    background-color: var(--secondary-color);
}

/* main style */
.hero{
    min-height: 100vh;
    background-color: var(--primary-color);
    padding: 0 100px;
}

.hero .hero-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
    max-width: var(--size-max-width);
    padding: 20px;
    margin: 0 auto;
}

.hero .name {
    color: var(--white-color);
    font-size: var(--font-size-xxl);
    font-family: "Miniver", sans-serif;
}

.hero .name span{
    color: var(--secondary-color);
}

.hero .hero-content .hero-content-details .introduce{
    margin-top:8px;
    max-width:70%;
    font-size:var(--font-size-xl);
    font-weight: var(--font-weight-semibold);
}

 .hero .hero-content .hero-content-details .description{
  max-width:70%;
  margin:24px 0 40px;
  font-size: var(--font-size-m);  
 }

.hero .hero-content .hero-content-details .btn{
    display: flex;
    gap:23px;
}

.hero .hero-content .hero-content-details .button{
    padding:10px 20px;
    border-radius: var(--border-radius-m);
    color: var(--primary-color);
    background: var(--secondary-color);
    font-weight: var(--font-weight-medium);
    border: 2px solid transparent;
    transition: 0.5s ease;
}

.hero .hero-content .hero-content-details .button:hover,
.hero .hero-content .hero-content-details .contact-me{
    border-color: var(--white-color);
    color: var(--white-color);
    background-color: transparent;
}

.hero .hero-content .hero-content-details .contact-me:hover{
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);
}

.hero .hero-content .hero-content-image{
    max-width: 370px;
    margin:70px 0;
    display: flex;
    justify-content: center;
    padding-top:20px;
}

.hero .hero-content .hero-content-image .hero-image{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.hero-social-network-list{
        padding-top: 40px;
        display: flex;
        gap: 25px;
        justify-content: left;
    }

.hero-social-network-list .social-link{
        color: var(--white-color);
        font-size: var(--font-size-l);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        transition: 0.4s ease;
    }

.hero-social-network-list .social-link:hover{
    background-color: var(--white-color);
    color: #252525;
}

/* About section styling */
.about-section{
    padding:120px 40px;
    background: var(--light-pink-color);
}

.about-section .about-section-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    min-height: 100vh;
    max-width: var(--size-max-width);
    padding: 20px;
    margin: 0 auto;
}

.about-section .about-profile-image .about-image{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: var(--border-radius-circle);
}

.section-title{
    text-align: center;
    padding: 60px 0 40px;
    text-transform: uppercase;
    font-size: var(--font-size-l);
} 

.section-title::after{
    content: "";
    width: 60px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

.about-details{
    max-width: 50%;
}

.about-details .section-title{
    padding: 0;
}

.about-section .about-details .text{
    text-align: center;
    line-height: 30px;
    margin: 50px 0 30px;
    font-size: var(--font-size-m);
}

.about-details .social-network-list{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.social-network-list .social-link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--dark-color);
    color: var(--primary-color);
    font-size: var(--font-size-l);
    transition: 0.3s ease;
}

.social-network-list .social-link:hover{
    color: var(--white-color);
    background: var(--dark-color);
}


.about-details h3{
    margin:40px 0;
    font-size: var(--font-size-m);
}

/* Section skills styling */

.section-skills {
    color: var(--white-color);
    background: var(--dark-color);
}
.section-skills .section-title{
    text-align: center;
    text-transform: uppercase;
    font-size: var(--font-size-l);
} 
.section-skills .skills-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    min-height: 90vh;
    max-width: var(--size-max-width);
    margin: 0 auto;
    padding-bottom: 80px;
}

.technical-bars{
    width: 33vw;
    height: 500px;
}

.section-skills .skills-content img{
    width: 2rem;
    height: 2rem;
    margin-bottom: 10px;
}

.section-skills .skills-content h4{
    margin-bottom: 80px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
}

.technical-bars .bar .info{
    margin-bottom: 8px;
}

.technical-bars .bar .info span{
    margin-bottom: 20px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress{
    position: relative;
    border-radius: var(--border-radius-s);
    width: 100%;
    height: 5px;
    margin-bottom: 30px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.technical-bars .bar .progress span{
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: var(--border-radius-s);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.technical-bars .bar .progress.html span{
    width: 80%;
}

.technical-bars .bar .progress.css span{
    width: 65%;
}

.technical-bars .bar .progress.js span{
    width: 50%;
}

.technical-bars .bar .progress.react span{
    width: 40%;
}

.technical-bars .bar .progress.python span{
    width: 55%;
}

.technical-bars .bar .progress.php span{
    width: 65%;
}

.technical-bars .bar .progress.mysql span{
    width: 60%;
}

.technical-bars .bar .progress.postgresql span{
    width: 50%;
}

.progress span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: var(--white-color);
    font-size: var(--font-size-s);
    top: -20px;
    right:-20px;
    animation :showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.technical-bars .bar .progress.html span::after{
    content: '80%';
}

.technical-bars .bar .progress.css span::after{
    content: '65%';
}

.technical-bars .bar .progress.js span::after{
    content: '50%';
}

.technical-bars .bar .progress.react span::after{
    content: '40%';
}

.technical-bars .bar .progress.python span::after{
    content: '55%';
}

.technical-bars .bar .progress.php span::after{
    content: '65%';
}

.technical-bars .bar .progress.mysql span::after{
    content: '60%';
}

.technical-bars .bar .progress.postgresql span::after{
    content: '50%';
}

.progress span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showtext 0.5s, 1.5s linear forwards;
    opacity: 0;

}

@keyframes showText{
    100%{
        margin-bottom: 10px;
        opacity: 1;
    }
}

.bar img{
    width: 2rem;
    height: 2rem;
}

/* Contacts section styling */
.contacts-section{
    padding: 50px 60px 140px;
    background: var(--light-pink-color);
}

.contacts-section .contact-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:0 20px;
    max-width: var(--size-max-width);
    margin: 0 auto;
}

.contacts-section .section-title{
    text-align: center;
    padding: 60px 0 40px;
    text-transform: uppercase;
    font-size: var(--font-size-l);
} 

.contacts-section .contact-adresse{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    max-width: var(--size-max-width);
    padding:0 20px;
    margin: 0 auto;
}

.contacts-section .contact-content .contact-adresse{ 
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

.contacts-section .contact-content .contact-adresse .list-contact{
    height: 500px;
}

.contacts-section .contact-content .contact-adresse .list-contact .adress{
    margin:20px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}


.contacts-section .contact-content .contact-adresse .box-message{
    max-width: 50%;
    height: 500px;
}

.contacts-section .contact-content .contact-adresse .box-message .form-input{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    border-radius: var(--border-radius-s);
    border:1px solid var(--medium-gray-color);
    outline: 0;
    margin-bottom: 16px;
}

.contacts-section .contact-content .contact-adresse .box-message .form-input:focus{
    border-color: var(--secondary-color);
}

.contacts-section .contact-content .contact-adresse .box-message textarea.form-input{
    height: 100px;
    padding: 12px;
    resize: horizontal;
    font-size: var(--font-size-s);
}

.contacts-section .contact-content .contact-adresse .submit-btn{
    margin-top: 20px;
    padding: 10px 26px;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    border:1px solid var(--primary-color);
    transition: 0.5s ease;
}

.contacts-section .contact-content .contact-adresse .submit-btn:hover{
    background-color: transparent;
    margin-top: 20px;
    padding: 10px 26px;
    color: var(--primary-color);
    border:1px solid var(--primary-color);
}

/* Footer section styling */
.footer-section{
    padding: 20px;
    background:var(--dark-color);
}

.footer-section .section-content{
    display: flex;
    justify-content: space-between;
    padding:0 20px;
    max-width: var(--size-max-width);
    margin: 0 auto;
}

.footer-section :where(.copyright, .privacy){
    color: var(--white-color);
}

.footer-section :where(.social-link){
    color: var(--white-color);
    font-size: var(--font-size-m);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    transition: 0.4s ease;
}

.footer-section .section-content .social-link{
    gap: 30px;
    font-size: var(--font-size-l);
    transition: 0.3s ease;
}

.footer-section .privacy-policy .separator{
    color: var(--white-color);
}

.footer-section .privacy:hover{
    color: var(--secondary-color);
    transition: 0.2s ease;
}

.footer-section :where(.social-link):hover{
    color: var(--dark-color);
    background: var(--white-color);
}

/*  Section projects */
.section-projects{
    padding: 50px 60px 140px;
    background: var(--white-color);
}

.section-projects .section-content{
    display: flex;
    gap: 60px;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    max-width: var(--size-max-width);
    padding: 20px;
    margin: 0 auto;
}

.section-projects .section-content .project{
    display: inline-grid;
    gap: 10px;
    padding:30px 50px;
    width: 100%;
    height: auto;
    background: var(--dark-color);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    border: 1px solid var(--secondary-color);
    transition: .5s ease;
}

.section-projects .section-content .project:hover{
    box-shadow: 1px 1px 6px 1px var(--secondary-color);
    transform: scale(1.3rem);    
}

.section-projects .section-content .title-project{
    text-align: center;
    margin-bottom: 20px;
    color: var(--light-pink-color);
}

.section-projects .section-content .description{
    margin: 14px 0;
    font-size: var(--font-size-m);
}

.section-projects .section-content .list-languages{
    float: left;
    gap: 20px;
    padding: 20px 0;
    width: 100%;
}

.section-projects .section-content .list-languages p{
    margin-bottom: 10px;
}

.use-language{
    width: 100%;
    height: auto;
}

.herite-taux{
    height: 8px;
    background: var(--secondary-color);
    border-radius: var(--border-radius-m);
}
.section-projects .section-content .list-languages .item-language{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 20px;
}

.section-projects .section-content .list-languages .item-language .image-language{
    cursor: pointer;
}

.section-projects .section-content .list-languages .item-language .taux{
    width: 80%;
    height: 10px;
    background-color: transparent;
    border: 0.6px solid lightblue;
    border-radius: var(--border-radius-m);
    display: inline-grid;
    gap: 1px;
}
.section-projects .section-content .btn-project{
    display: flex;
    gap: 30px;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.section-projects .section-content .btn-project a{
    color: var(--white-color);
    background: transparent;
    border: 1px solid var(--white-color);
    padding: 10px;
    width: 100px;
    text-align: center;
    border-radius: var(--border-radius-m);
    font-size: var(--font-size-s);
    transition: 0.3s ease;
}

.section-projects .section-content .btn-project .demo-btn{
    background: var(--secondary-color);
    color: var(--dark-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: 0.3s ease;
}

.section-projects .section-content .btn-project .contact-me:hover{
    background: var(--secondary-color);
    color: var(--dark-color);
    border: 1px solid var(--secondary-color);
}

.section-projects .section-content .btn-project .demo-btn:hover{
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

.project-social-network-list{
    display: flex;
    gap: 20px;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.project-social-network-list .social-link{
    color: var(--white-color);
    font-size: var(--font-size-l);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    transition: 0.4s ease;
    transition: 0.3s ease;
}

.project-social-network-list .social-link:hover{
    color:var(--dark-color);
    background: var(--white-color);
}


.list-languages .bar .info{
    margin-bottom: 8px;
}

.list-languages .bar .info span{
    margin-bottom: 20px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-medium);
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.list-languages .bar .progress{
    position: relative;
    border-radius: var(--border-radius-s);
    width: 100%;
    height: 5px;
    margin-bottom: 30px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.list-languages .bar .progress span{
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    border-radius: var(--border-radius-s);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.list-languages .bar .progress.html span{
    width: 80%;
}

.list-languages .bar .progress.css span{
    width: 65%;
}

.list-languages .bar .progress.js span{
    width: 50%;
}

.list-languages .bar .progress.react span{
    width: 40%;
}

.list-languages .bar .progress.python span{
    width: 55%;
}

.list-languages .bar .progress.php span{
    width: 65%;
}

.list-languages .bar .progress.mysql span{
    width: 60%;
}

.list-languages .bar .progress.postgresql span{
    width: 50%;
}

.progress span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: var(--white-color);
    font-size: var(--font-size-s);
    top: -20px;
    right:-20px;
    animation :showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.list-languages .bar .progress.html span::after{
    content: '80%';
}

.list-languages .bar .progress.css span::after{
    content: '65%';
}

.list-languages .bar .progress.js span::after{
    content: '50%';
}

.list-languages .bar .progress.react span::after{
    content: '40%';
}

.list-languages .bar .progress.python span::after{
    content: '55%';
}

.list-languages .bar .progress.php span::after{
    content: '65%';
}

.list-languages .bar .progress.mysql span::after{
    content: '60%';
}

.list-languages .bar .progress.postgresql span::after{
    content: '50%';
}

.progress span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showtext 0.5s, 1.5s linear forwards;
    opacity: 0;

}

@keyframes showText{
    100%{
        margin-bottom: 10px;
        opacity: 1;
    }
}

.bar img{
    width: 2rem;
    height: 2rem;
}

/* width project Portfolio*/
.list-languages .bar .progress.html-project span{
    width: 54%;
}

.list-languages .bar .progress.css-project span{
    width: 46%;
}

.list-languages .bar .progress.js-project span{
    width: 5%;
}

.list-languages .bar .progress.ajax-project span{
    width: 0.5%;
}

.list-languages .bar .progress.cdn-project span{
    width: 0.5%;
}

/* width Command's gestion */
.list-languages .bar .progress.html-Project span{
    width: 30%;
}

.list-languages .bar .progress.css-Project span{
    width: 30%;
}

.list-languages .bar .progress.php-project span{
    width: 20%;
}

.list-languages .bar .progress.mysql-project span{
    width: 12%;
}

.list-languages .bar .progress.js-Project span{
    width: 8%;
}

/* content project Portfolio*/
.list-languages .bar .progress.html-project span::after{
    content: '50%';
}

.list-languages .bar .progress.css-project span::after{
    content: '44%';
}

.list-languages .bar .progress.js-project span::after{
    content: '5%';
}


.list-languages .bar .progress.ajax-project span::after{
    content: '0.5%';
}

.list-languages .bar .progress.cdn-project span::after{
    content: '0.5%';
}

/* content project Command's Gestion*/
.list-languages .bar .progress.html-Project span::after{
    content: '30%';
}

.list-languages .bar .progress.css-Project span::after{
    content: '30%';
}

.list-languages .bar .progress.php-project span::after{
    content: '20%';
}

.list-languages .bar .progress.mysql-project span::after{
    content: '12%';
}

.list-languages .bar .progress.js-Project span::after{
    content: '8%';
}



/* Responsive media query code for max-width 1024px */
@media  screen and (max-width: 1024px) {
    .hero .hero-content{
    display: flex;
    padding: 140px 0;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: space-between;
    max-width: var(--size-max-width);
}

     .section-skills .skills-content{
        flex-direction: column-reverse;
    }

    .section-skills .skills-content h4{
        margin-top: 30px;
    }
    
}

/* Responsive media query code for max-width 900px */
@media  screen and (max-width: 900px) {
    :root{
        --font-size-m:1rem;
        --font-size-l:1.3rem;
        --font-size-xl:1.5rem;
        --font-size-xxl:1.8rem;
    }

    body.open-menu header::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0,0,0.2);
    }

    .navbar :where(#menu-close-button, #menu-open-button){
        font-size: var(--font-size-l);
        color: var(--white-color);
        display:block;
    }

    .navbar #menu-close-button{
        position: absolute;
        right: 30px;
        top: 30px;;
    }

    .navbar .nav-menu{
        display: block;
        position: fixed;
        left:-300px;
        top:0;
        width:250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        background: var(--dark-color);
        transition: left 0.3s ease;
    }

    body.open-menu .navbar .nav-menu{
        left:0;
    }

    .navbar .nav-menu li a{
        color: var(--white-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

    .hero .hero-content{
        gap: 50px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .hero .hero-content .hero-content-details{
        display: inline;
        align-items: center;
        justify-content: center;
    }

    .hero .hero-content .hero-content-image{
        max-height: 300px;
    }

    .hero .hero-content .hero-content-image .hero-image{
        max-width:250px;
    }

    .hero .hero-content .hero-content-image {
        max-width: 370px;
        margin:  0;
        display: flex;
        justify-content: center;
        padding-top: 0px;
        }
    .hero-social-network-list{
        padding: 40px 0;
        display: flex;
        gap: 25px;
        justify-content: left;
    }

    .hero-social-network-list .social-link{
        color: var(--white-color);
        font-size: var(--font-size-l);
    }

    .about-section .about-section-content{
        gap: 70px;
        flex-direction: column;
    }

    .about-section-content .about-profile-image .about-image{
        width: 100%;
        height: 100%;
        max-width: 250px;
        aspect-ratio: 1;
    }

    .section-skills .skills-content{
        flex-direction: column;
    }

    .section-skills .skills-content h4{
        margin-top: 30px;
        width: 200px;
    }

.contacts-section .contact-content .contact-adresse .box-message{
    max-width: 250px;
}

.contacts-section .contact-content .contact-adresse{
    flex-direction: column-reverse;
    gap: 20px;
    width: 220px;
}

i{
    cursor: pointer;
}

.section-projects .section-content{
    display: flex;
    gap: 60px;
    min-height: 100vh;
    justify-content: space-between;
    max-width: var(--size-max-width);
    padding: 20px;
    margin: 0 auto;
}


.section-projects .section-content .project{
    width: 350px;
}

.section-projects .section-content{
    flex-direction: column;
    gap: 80px;
}

.contacts-section .contact-content{
    flex-direction: column-reverse;
    justify-content: space-between;
    width: auto;
}

.footer-section .section-content{
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
}

/* Responsive media query code for max-width 480px */
@media  screen and (max-width: 480px){
.about-section-language{
    padding: 0;
}

.section-projects .section-content .list-languages{
    float: left;
    gap: 20px;
    padding: 20px 0;
    width: 60%;
}

.section-projects .section-content .project{
    min-width: 100%;
}


.footer-section .section-content{
    flex-direction: column-reverse;
    gap: 20px;
}
}
